# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Tests
.coverage
htmlcov/
.pytest_cache/
.tox/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
LICENSE
*.md

# Database
*.db
*.sqlite3

# Insomnia
recicleai_insomnia_collection*.json
